[build]
command = "echo 'no op'"
publish = "example"

[build.environment]
NODE_VERSION = "20"

[[plugins]]
package = "./src/index.js"

[plugins.inputs]
output_path = "reports/lighthouse.html"

# Note: Required for our Cypress smoke tests
fail_deploy_on_score_thresholds = "true"

[plugins.inputs.thresholds]
performance = 0.9

[[plugins.inputs.audits]]
output_path = "reports/route1.html"
serveDir = "route1"
[[plugins.inputs.audits]]
serveDir = "route2"
[[plugins.inputs.audits]]
serveDir = ""

[[plugins]]
package = "netlify-plugin-cypress"
# do not run tests after deploy
[plugins.inputs]
enable = false
# run tests after build
[plugins.inputs.postBuild]
enable = true
